# Telegram Base Settings
bot_token = 1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
channel_id = -1234567890123

# MongoDB
mongo_host = 127.0.0.1
mongo_port = 27017
mongo_username =
mongo_password =

# PostgreSQL
postgres_host = 127.0.0.1
postgres_port = 5432
postgres_username =
postgres_password =
