# Telegram Base Settings
bot_token = 1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
channel_id = -1234567890123

# MongoDB
mongo_host = mongo_owlyfer
mongo_port = 27017
mongo_username = bot
mongo_password = password
mongo_db = owlyfer

# PostgreSQL
postgres_host = postgres_owlyfer
postgres_port = 5432
postgres_username = bot
postgres_password = password
postgres_db = owlyfer
