# Telegram Base Settings
TELEGRAM_BOT_TOKEN=1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
TELEGRAM_CHANNEL_ID=-1234567890123

# MongoDB
MONGO_INITDB_ROOT_HOST=mongo_owlyfer
mongo_port=27017
MONGO_INITDB_ROOT_USERNAME=bot
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=owlyfer

# PostgreSQL
POSTGRES_HOST=postgres_owlyfer
POSTGRES_PORT=5432
POSTGRES_USER=bot
POSTGRES_PASSWORD=password
POSTGRES_DB=owlyfer
